@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&display=swap');

/* Desktop styling */

header {
    background-color: #446342de;
    font-weight: bolder;
    padding: 30px;
    text-align: center;
}

.selfie {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.bordered-section {
    background-color: #a9c1a7de;
    border-radius: 15px;
    width: 500px;
    text-align: center;
    margin: 15px;
    padding: 20px;
}

.display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    background-color: #446342de;
    font-weight: bolder;
    padding: 5px;
    text-align: center;
}


/* styles specifically for screens less than 768px (most mobiles) */  

@media only screen and (max-width: 768px) {

    header {
        background-color: #446342de;
        font-weight: bolder;
        padding: 25px;
        text-align: center;
    }

    .selfie {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }

    .bordered-section {
        background-color: #a9c1a7de;
        border-radius: 15px;
    }

    footer {
        background-color: #446342de;
        font-weight: bolder;
        padding: 5px;
        text-align: center;
    }

}

/* General styling */

* {
    box-sizing: border-box;
}
  
body {
    background-image: url('imgs/foliage.jpg');
}

main {
    padding: 20px
}

h1, h2, h3, h4, p {
    font-family: 'Raleway', sans-serif;
}
